.cloth-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
}

.cloth-item image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
}

.cloth-item img:hover {
    transform: scale(1.1);
  }


.cloth-item-info{
    padding: 20px;
}

.cloth-item-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cloth-item-rating p{
    font-size: 20px;
    font-weight: 500;
}

.cloth-item-rating img{
    width: 70px;
}

.cloth-item-price{
    color: rgb(15, 72, 94);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}