.welcome-message {
    font-size: 1.2em;
    color: #333;
    padding: 10px 20px;
    background-color: #73a7db;
    border-radius: 5px;
    text-align: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    top: 1.5%; 
    width: 100%;
    z-index: 10;
    font-weight: bold;
    animation: fade 2s;

  }
  
  
  