.about-us{
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    background: url('/src/assets/about.jpg');
    color: white;
    background-size: contain;
    position: relative;
    animation: fade 5s;
    
}

.background{
    padding: 10%;
    text-align: center;
}

.background h1{
    text-align: center;
    color: #5c4031;
    font-size: 4em;
    
    
    
}

.background p{
    text-align: center;
    font-size: 25px;
    color: #6f4e37;
    font-weight: bold;
    
    
}

.background img{
    opacity: 0.7;
}

.follow {
    margin: 1%;
}


.follow h2{
   text-align: center;
   color: #8a6e47;
   
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}
  
.social-icon img:hover {
    transform: scale(1.1);
}


